@import url('https://fonts.googleapis.com/css?family=Heebo|Secular+One');
@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed');
body{
	background-color: #f4f4f4;
	font-family: 'Heebo', sans-serif;
	padding: 0;
	margin: 0;
	overflow: hidden;
	overflow-x: hidden;
	text-align: center;
}
html{
	overflow: hidden;
	overflow-x: hidden;
}

/*forum field code*/
#forumField {
	width: 100%;
	margin: 0 auto;
	margin-top: 30%;
	text-align: center;
}
ul {
	list-style: none;
	padding: 0;
	margin: 0 auto;
} 
li {
	border-radius: 50px;
	padding-left: 5%;
	padding-right: 5%;
	width: 80%;
	margin: 0 auto;
	margin-bottom: 5%;
}
ul a {
	font-family: 'Secular One', sans-serif;
	color: white;
	font-size: 8em;
	font-weight: bold;
	text-decoration: none;
	background: -webkit-linear-gradient(#0090ff, #14a101);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.forumBtn {
	background-color: none;
	border-radius: 400px;
	padding: 0% 5% 0% 5%;
	width: 80%;
	border: 30px solid transparent;
	background-image: linear-gradient(#0090ff, #14a101), linear-gradient(180deg, #0090ff, #14a101);
	background-origin: border-box;
	background-clip: content-box, border-box;
	box-shadow: 2px 1000px 1px #f4f4f4 inset;
}
/*Standard Button*/
.btn {
	font-family: 'Secular One', sans-serif;
	color: white;
	font-size: 5em;
	background-color: #14a101;
	border-radius: 40px;
	border-style: none;
	transition: 0.5s;
	box-shadow: 5px 5px 8px grey;
	margin: 3%;
}
.btn:hover, .btn:active {
	transition: 0.5s;
	background-color: #0d5e02;
}
#createPostBtn {
	position: absolute;
	display: block;
	width: 70%;
	margin: 0 auto;
	bottom: 2%;
	right: 0;
	left: 0;
	z-index: 4;
}
/*Mediaquery for desktop viewing*/
@media(min-width: 1030px) {
	#forumField {
		width: 60%;
		padding: 2%;
		margin: 0 auto;
		margin-top: 6%;
	}
	.btn {
		font-family: 'Secular One', sans-serif;
		color: white;
		font-size: 2em;
		background-color: #14a101;
		border-radius: 40px;
		padding: 2%;
		border-style: none;
		transition: 0.5s;
		box-shadow: 5px 5px 8px grey;
	}
	#createPostBtn {
		position: absolute;
		display: block;
		width: 30%;
		margin: 0 auto;
		bottom: 2%;
		right: 0;
		left: 0;
	}
	ul{
		list-style: none;
		left: 5%;
	}
	#mainMenu img {
		width: 20%;
		margin-top: 3%;
	}
	#mainMenu button {
		font-size: 0.6em;
		padding: 2%;
	}
	li {
		margin-bottom: 1%;
	}
	ul a {
		font-size: 3em;
	}
	.btnOut {
		padding: 2%;
	}
}
