@import url('https://fonts.googleapis.com/css?family=Heebo|Secular+One');
@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed');
body{
	background-color: #fff;
	font-family: 'Heebo', sans-serif;
	padding: 0;
	margin: 0;
	overflow: hidden;
	overflow-x: hidden;
	text-align: right;
	height: 100%;
}
html{
	overflow: hidden;
	overflow-x: hidden;
	height: 100%;
}

h1 {
	direction: rtl;
	font-family: 'Heebo', sans-serif;
	color: #4db1ff;
	font-size: 4.5em;
	margin-top: 15%;
	text-align: right;
	padding: 5%;
	margin-bottom: 0%;
	padding-bottom: 0%;
	font-weight: bolder;
}
.author {
	font-family: 'Secular One', sans-serif;
	direction: rtl;
	margin-right: 5%;
	font-size: 2em;
}
.infoDiv {
	width: 90%;
	margin: 0 auto;
	text-align: center;
	font-size: 2.5em;
	color: grey;
	vertical-align: bottom;
	overflow: auto;
	position: relative;
}
.infoText{
	position: absolute;
	bottom: 0;
	right: 0;
	width: 70%;
}
.midDiv {
	margin: 0 auto;
}
.infoDiv > .material-icons {
	font-size: 1em;
	vertical-align: middle;
}
.likeBtn {
	float: left;
	background-color: grey;
	border-style: none;
	border-radius: 20px;
	padding: 2%;
	transition: 0.2s;
	vertical-align: top;
}
.deleteBtn {
	background-color: red;
	border-style: none;
	border-radius: 20px;
	padding: 2%;
	float: left;
	display: none;
}
.likeBtn > .material-icons, .deleteBtn > .material-icons {
	font-size: 4em;
	vertical-align: middle;
	color: white;
}
.liked {
	background-color: #4db1ff;
	transition: 0.2s;
}
.timeStamp {
	float: left;
	margin-left: 2%;
}
.border {
	width: 100%;
	height: 2px;
	background-color: grey;
}
/*Code for Mother-Post*/
#headerDiv {
	background-color: #f7f7f7;
	display: block;
	width: 100%;
	border: 1px solid grey;
	padding-bottom: 5%;
	box-shadow: 0px 10px 50px grey;
	z-index: 50;
}
#superField {
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	height: 90%;
}
/*Code for 1st tier comments*/
#mainField {
	width: 100%;
	display: block;
	text-align: center;
	display: block;
	z-index: 2;
}
.theirCom {
	direction: rtl;
	text-align: right;
	z-index: 9;
	overflow: auto;
	padding-bottom: 3%;
	left: 0;
	margin: 6% 4%;
	border: 1px solid #333;
	border-radius: 30px 0px 30px 30px;
}
.yourCom {
	direction: rtl;
	text-align: right;
	z-index: 9;
	overflow: auto;
	padding-bottom: 3%;
	left: 0;
	margin: 6% 4%;
	border: 1px solid #333;
	border-radius: 30px 0px 30px 30px;
}
.theirCom .userName, .yourCom .userName {
	font-family: 'Secular One', sans-serif;
	margin-right: 2%;
	font-weight: lighter;
}
.yourCom .userName {
	color: #4db1ff;
}
.comSpace > .theirCom > .userName, .comSpace > .yourCom > .userName {
	font-size: 2em;
}

.theirCom > #profilePhoto, .yourCom > #profilePhoto {
	width: 10%;
	margin-right: 3%;
	float: right;
}
.theirCom .comText, .yourCom .comText {
	float: right;
	margin-right: 3%;
	width: 80%;
	font-size: 3em;
}

/*Style for 2nd teir comments*/
.comSpace {
	width: 90%;
	margin-bottom: 5%;
}
.comSpace {
	font-size: 0.8em;
}
.comSpace .comText {
	font-size: 3em;
}
.comSpace >.yourCom >.comText {
	font-size: 3em;
}
/*Style for 2nd tier comment posting*/
.postComDiv {
	width: 100%;
	display: block;
	overflow: auto;
	margin-top: 2%;
	margin-bottom: 2%;
	padding-bottom: 2%;
}
#sendCom {
	float: left;
	width: 10%;
	height: 10%;
	padding: 2%;
	margin-left: 5%;
	background-color: #00487f;
	border-style: none;
	border-radius: 300px;
	box-shadow: 10px 10px 30px #cccccc;
	text-align: right;
	transition: 0.5s;
	display: inline-block;
}
#sendCom:active, #sendCom:hover {
	transition: 0.5s;
	background-color: #0065b3;
}
.comInput2 {
	width: 75%;
	padding: 1%;
	padding-right: 3%;
	border-radius: 50px;
	font-size: 4em;
	text-align: right;
	border-style: none;
	bottom: 0;
	font-family: 'Heebo', sans-serif;
	border: 1px solid #444;
	overflow: auto;
	height: 1.8em;
	direction: rtl;
}
#comInput::placeholder {
	color: grey;
	font-family: 'Heebo', sans-serif;
}
#sendCom > img {
	margin-left: 10%;
	margin-bottom: -10%;
	width: 100%;
	height: 100%;
}


/*Style for comment posting*/
#inputDiv {
	width: 100%;
	display: block;
	bottom: 0%;
	padding-bottom: 2%;
	vertical-align: middle;
	position: absolute;
	z-index: 990;
	background-color: #f7f7f7;
	padding-top: 4%;
	height: 9%;
}
#send {
	float: left;
	width: 14%;
	padding: 2%;
	margin-left: 5%;
	background-color: #4db1ff;
	border-style: none;
	border-radius: 300px;
	box-shadow: 10px 10px 30px #cccccc;
	text-align: right;
	transition: 0.5s;
	display: inline-block;
}
button#send > img {
	margin-left: 10%;
	margin-bottom: -10%;
	width: 100%;
	height: 100%;
}
#send:active, #send:hover {
	transition: 0.5s;
	background-color: #0065b3;
}
#comInput {
	width: 65%;
	float: right;
	height: 100px;
	padding: 1%;
	padding-right: 3%;
	border-radius: 50px;
	font-size: 4em;
	margin-right: 5%;
	text-align: right;
	border-style: none;
	bottom: 0;
	font-family: 'Heebo', sans-serif;
	border: 1px solid #666;
	direction: rtl;
}
#comInput::placeholder {
	color: grey;
	font-family: 'Heebo', sans-serif;
}
#send > img {
	width: 70%;
}
@media(min-width: 1030px) {
	h1 {
		margin-top: 10%;
		font-size: 3em;
	}
	author {
		font-size: 2em;
		margin-right: 0;
	}
	.midDiv {
		margin-right: 5%;
		margin-left: 10%; 
	}
	.deleteBtn {
		padding: 1%;
		display: none;
	}
	.deleteBtn > .material-icons {
		font-size: 2em;
	}
	.infoDiv {
		font-size: 2em;
	}
	.likeBtn {
		padding: 1%;
	}
	.likeBtn > .material-icons {
		font-size: 2em;
	}
	.theirCom > .userName, .yourCom > .userName {
	font-weight: bold;
	font-family: 'Secular One', sans-serif;
	font-size: 2em;
	margin-right: 2%;
}
	#send {
		width: 5%;
		height: 5%;
		padding: 1%;
		margin-left: 5%;
	}
	#send > img {
		margin-left: 10%;
		margin-bottom: -10%;
		width: 100%;
		height: 100%;
	}
	#send:active, #send:hover {
		transition: 0.5s;
		background-color: #0065b3;
	}
	#comInput {
		width: 65%;
		float: right;
		height: 50px;
		font-size: 2em;
		padding: 0.5%;
	}
	#comInput::placeholder {
		color: grey;
		font-family: 'Heebo', sans-serif;
	}
	.theirCom > #profilePhoto, .yourCom > #profilePhoto {
		width: 5%;
		margin-right: 3%;
		float: right;
	}
	.theirCom > .comText, .yourCom > .comText {
		float: right;
		margin-right: 3%;
		width: 80%;
		font-size: 2em;
	}
	.comSpace >.yourCom >.comText {
		font-size: 2em;
	}
	.comInput2 {
		font-size: 2em;
	}
	#sendCom {
		padding: 1%;
		width: 5%;
		height: 5%;
		margin-left: 20%;
	}
	#sendCom > img {
		width: 100%;
	}

} 